# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env
.env.*

# Docker
*.log

# MLflow
mlruns/
mlartifacts/

# Data (local only)
data/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# OS / editor
.DS_Store
.vscode/
.idea/
